doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="description" content="Brendan Luchen's Zoom Lounge")
    title Brendan's Zoom
    link(rel='stylesheet' href='http://www.bml.rocks/base.css')

  body
    p If you're here, it's probably because you want to video chat. Neat!
    p Please, #[a(href="https://us05web.zoom.us/j/3322382207") click here].
    p Then, enter the very secret password found below (omitting, of course, the lock symbols).
    div
      p You can also point another device at #[tt zoom.bml.rocks] (this page) or #[tt https://us05web.zoom.us/j/3322382207] (that link).
      p Or scan:
      img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAD6AQMAAACyIsh+AAAABlBMVEX///8AAABVwtN+AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABI0lEQVRoge2UQZIDMQgD+Tn8nMRIYLvmMuco7KYqxp1Ll2Sz/7wcz5owj32O2eoAtffvav3TTfRWCfAlJpahwG6xvZUDvM9MjyrA0JBQBLoqFZqC/C6OBsAn0++/50v748A5KI8/LwQAh6aWdTtTA7I6Ay+sDz5KQHRUfDh8nxRJAAwJdVVzqjx10gEgBaKiTkgLVkJA66CtMBZnRGkA81T4XDE30ykJYNphuA/+hg3SAa6ArG0OlkIAX1A7rAA9iiMBwEoQ9NxtYbN0ACDGtBh/cYiSAAbaF1kTSkBPQbXNEZdCwJbCvPicGBgRIKDpMrMuOy8ygB9iHIG5myUGbC/1pUcNKDUGU9hmSAGjp18QKtudkgC6JC3GIMp8jhLAf17NBySXW1x16fm5AAAAAElFTkSuQmCC")
    hr
    p
      tt 🔐 bunnies64 🔐
    hr
